
<div class="row">
  <a class="waves-effect waves-grey btn-flat showUntracked">Show Untracked</a>
  <a class="waves-effect waves-grey btn-flat showUnwatched">Show Unwatched</a>
  <a class="waves-effect waves-grey btn-flat showWatched">Show Watched</a>
  <a class="waves-effect waves-grey btn-flat showFavorites">Favorites</a>
</div>
<div class="row">
{{#each this}}
<div class="movieDiv col m4 col s6">
  {{#if saved}}
  <div class="z-depth-1 movieCard center-align" rating="{{rating}}" saved="{{saved}}">
  <div class="chip right-align delete-btn" key="{{@key}}">
    Delete
    <i class="close material-icons">close</i>
  </div>
  {{else}}
  <div class="z-depth-1 movieCard center-align">
  {{/if}}
  <h4 class="title"> {{Title}} </h4>
  <img src="{{Poster}}" alt="{{Title}} Image" class="movieImg">
  <p> Released in {{Year}} </p>
  <p> {{Actors}} </p>
  {{#if saved}}
  <span class="rating"> Rate
    <i key="{{@key}}" class="1 material-icons userRating {{activateStars rating 1}}">star</i>
    <i key="{{@key}}" class="2 material-icons userRating {{activateStars rating 2}}">star</i>
    <i key="{{@key}}" class="3 material-icons userRating {{activateStars rating 3}}">star</i>
    <i key="{{@key}}" class="4 material-icons userRating {{activateStars rating 4}}">star</i>
    <i key="{{@key}}" class="5 material-icons userRating {{activateStars rating 5}}">star</i>
    <i key="{{@key}}" class="6 material-icons userRating {{activateStars rating 6}}">star</i>
    <i key="{{@key}}" class="7 material-icons userRating {{activateStars rating 7}}">star</i>
    <i key="{{@key}}" class="8 material-icons userRating {{activateStars rating 8}}">star</i>
    <i key="{{@key}}" class="9 material-icons userRating {{activateStars rating 9}}">star</i>
    <i key="{{@key}}" class="10 material-icons userRating {{activateStars rating 10}}">star</i>
  </span>
  {{else}}
    <button type="button" class="addMovie" key="{{@key}}" style="{{checkAuth}}"> Add to Watchlist </button>
  {{/if}}
  {{#if rating}}
  <span> You've rated this movie {{rating}} stars.</span>
  {{/if}}
</div>
</div>
{{/each}}
</div>
