
<div class="row center-align">
  <h1> Watchlist </h1>
  <a class="waves-effect waves-grey btn-flat showWatched">Show Watched</a>
  <a class="waves-effect waves-grey btn-flat showUnwatched">Show Unwatched</a>
  <a class="waves-effect waves-grey btn-flat showAll">Show All Movies</a>
</div>
<div class="row">
{{#each this}}
<div class="col s6">
  <div class="z-depth-1 movieCard center-align">
  <div class="chip right-align delete-btn" key="{{@key}}">
    Delete
    <i class="close material-icons">close</i>
  </div>
  <h3 class="title"> {{Title}} </h3>
  <img src="{{Poster}}" alt="{{Title}} Image" class="movieImg">
  <p> Released in {{Year}} </p>
  <p> {{Actors}} </p>
  {{#if watched}}
  <span class="rating"> Rate
    <i key="{{@key}}" id="1-{{@key}}" class="1 material-icons userRating">star</i>
    <i key="{{@key}}" id="2-{{@key}}" class="2 material-icons userRating">star</i>
    <i key="{{@key}}" id="3-{{@key}}" class="3 material-icons userRating">star</i>
    <i key="{{@key}}" id="4-{{@key}}" class="4 material-icons userRating">star</i>
    <i key="{{@key}}" id="5-{{@key}}" class="5 material-icons userRating">star</i>
  </span>
  {{#if rating}}
  <span> You've rated this movie {{rating}} stars.</span>
  {{/if}}
  {{else}}
  <button type="button" class="watchedMovieProfile" key="{{@key}}"> Seen It! </button>
  {{/if}}

</div>
</div>
{{/each}}
</div>
