<div class="row">
  <div class="offset-s4 col s4 center-align">
    <h3 class="title"> {{Title}} </h3>
    <img src="{{Poster}}" alt="{{Title}} Image" class="movieImg">
    <p> Released in {{Year}} </p>
    <p> {{Actors}} </p>
    <button type="button" class="addMovie"> Add to Watchlist </button>
    <button type="button" class="watchedMovie"> Seen It! </button>
  </div>
</div>
